# Dependências (Nunca suba essa pasta, ela é gigante e gerada pelo npm install)
node_modules/

# Arquivo de segredos (O MAIS IMPORTANTE! Se subir isso, alguém rouba seu bot)
.env

# Logs do sistema e erros
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Arquivos de sistema (Windows/Mac)
Thumbs.db
.DS_Store

# Pastas de IDE (opcional, mas recomendado)
.vscode/
.idea/